* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 463px;
    background-image: url('image/im3.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.logo{
  text-align: center;
 margin-top: 8vh;
 margin-left: 0vw;
}
.logo h3{
  font-size: 4vw;
  color: gold;
}
.logo p{
  font-size: 3vw;
  color: burlywood;
  margin: 4vh auto;

}
.container{
  align-items: center;
  margin-top: 10vh;
  margin-left: 0vw  ;
 position: fixed;
}
.d1{
  display: flex; 
  margin: 0 28vw;
  line-height: 2;
 
}
.ps1{
  font-size: 3vw;
  color: chocolate;
}
.inp1{
 margin-top: 5vh;
 margin-left: 15vw;
  border-radius: 2px;
  font-size: 1.5vw;
  padding: 5px ;
  width: 15vw;
  height: 3vh;
  border: none;
  outline: none; 
}
.inp2{
  margin-top: 5vh;
  margin-left: 4vw;
   border-radius: 2px;
   font-size: 1.5vw;
   padding: 5px ;
   width: 15vw;
   height: 3vh;
   border: none;
   outline: none; 
 }
.button1{
  padding: 8px;
  margin: 20px 50vw;
  font-size: 1.5vw;
  border-radius: 10px;
}
  
.link {
    text-decoration: none;
    text-align: center;
    margin-top: 5vh;
    margin-left: 15vw;
    font-size: 2vw;
    color: yellow;
  }
  
  @media screen and (max-width: 780px){
    .inp1{
      margin-top: 0vh;
      margin-left: 16vw;
      font-size: 2vw;
      width: 19vw;
    }
    .inp2{
      margin-top: 1.5vh;
      margin-left: 4vw;
       font-size: 2vw;
       padding: 5px ;
       width: 19vw;
    }
    .button1{
      margin-top: 8vh;
      font-size: 2.5vw;
      border-radius: 10px;
    }
    .link {
      margin-top: 8vh;
      margin-left: 6vw;
      font-size: 2.5vw;
    }
  }
  @media screen and (max-width: 600px){
    .logo{
      text-align: center;
      margin-top: 30vw;
      margin-left: 15vw;
    }
    .logo h3{
      font-size: 7vw;    
    }
    .logo p{
      font-size: 5vw;
      margin: 4vh auto;
    }
    .container{
      margin-top: 10vh;
      margin-left: -7vw ;

    }
    .d1{
      display: flex;
      margin: auto 8vw;
      line-height: 2;
     
    }
    .ps1{
      font-size: 6vw; 
      margin-top: 25px;
      color:whitesmoke
    }
    .inp1{
      margin-top: 5vh;
      margin-left: 30vw;
       font-size: 4vw;
       padding-right: 80px;
       height: 3vh;
     }
     .inp2{
       margin-top: 5vh;
       margin-left: 7vw;
        border-radius: 2px;
        font-size: 4vw;
        padding-right: 80px;
        width: 17vw;
        height: 3vh;
      }
    .button1{
      margin-top: 10vh;
      font-size: 6vw;
      border-radius: 10px;
    }
    .link {
      text-decoration: none;
      margin-top: 3vh;
      margin-left: 3vw;
      font-size: 5vw;
    }
  }
  
  